<nav>
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="index.php?menu=search&option=list_all"">DOWNLOAD</a>
            <ul class="hidden">
                <li><a href="index.php?menu=search&option=by_identifier_form">
                        By Identifier
                    </a>
                </li>
                <li><a href="index.php?menu=search&option=by_abstract_form">
                        By Abstract
                    </a>
                </li>
                <li><a href="index.php?menu=search&option=by_author_form">
                        By Autor
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="index.php?menu=user&option=list_all"">NanoTest</a>
            <ul class="hidden">
                <li>
                    <a href="index.php?menu=nano&option=list_all">
                        List all
                    </a>
                </li>
                <li>
                    <a href="index.php?menu=nano&option=add_pub_form">
                        Add pub form
                    </a>
                </li>
            </ul>
        </li>


        <li>
            <a href="index.php?menu=user&option=list_all"">Users</a>
        </li>
        <li><a href="index.php?menu=user&option=logout">Logout</a></li>

    </ul>
</nav>
