<nav>
    <ul>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="index.php?menu=elsevier&option=list_all"">SCOPUS</a>
            <ul class="hidden">
            <li><a href="index.php?menu=elsevier&option=by_doi_form">By DOI</a></li>
            </ul>
        </li>

        <li>
            <a href="index.php?menu=user&option=list_all"">NanoTest</a>
            <ul class="hidden">
                <li><a href="index.php?menu=user&option=list_all">List all</a></li>
                <li><a href="index.php?menu=user&option=mod_del">By DOI</a></li>
            </ul>
        </li>


        <li>
            <a href="index.php?menu=user&option=list_all"">Users</a>
        </li>
        <li><a href="index.php?menu=user&option=logout">Logout</a></li>

    </ul>
</nav>
